/FirstProgram/nbproject/private/
/FirstProgram/build/
/TestDataType/nbproject/private/
/TestDataType/build/
/UseScanner/nbproject/private/
/UseScanner/build/
/ConvertSecondToMinutes/nbproject/private/
/ConvertSecondToMinutes/build/
/CalAreaOfCircle/nbproject/private/
/CalAreaOfCircle/build/
/DisplayCurrentTime/nbproject/private/
/DisplayCurrentTime/build/
